body {
	background: url('../img/fondo2.jpg');

  background-attachment: fixed;
  
}


.container-center {
  background: url('../img/principal2.png');
  margin: 1rem;
  height: 100em;

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  /* IMPORTANTE */
  text-align: center;
}

@media screen and (max-width: 992px) {
  body {
	background: url('../img/fondo.png');
background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
body {
	background: url('../img/fondo.png');
background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

}

